.tags {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}



.tag {
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

.post {
    border: 1px solid white;
    margin: 10px;
    border-radius: 10px;

}